@import '@/assets/styles/variables.less';

.bgContainer {
	background: no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	
	&.dark-theme {
		background-image: url('https://images.unsplash.com/photo-1493246507139-91e8fad9978e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
	}

	.loginContainer {
		background-color: var(--bg-filter-color);
		overflow: hidden;
		z-index: 10;
		width: 4.5rem;
		position: absolute;
		top: 40%;
		left: 50%;
		margin-left: -2.25rem;
		transform: translateY(-50%);
		backdrop-filter: blur(0.05rem);
		
		.text {
			margin-bottom: 0.2rem;
			line-height: 0.5rem;
			text-align: center;
			font-size: 0.3rem;
			font-weight: bolder;
			color: var(--primary-color);
			text-shadow: 0.02rem 0.02rem 0.04rem var(--font-color);
			
			.dark-theme & {
				text-shadow: 0.02rem 0.02rem 0.04rem rgba(0, 0, 0, 0.5);
			}
		}
		
		form {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
			:global {
				.ant-form-item {
					width: 80%;
					.ant-form-item-control-input-content {
						display: flex;
						justify-content: center;
					}
				}
			}
			
			input {
				width: 100%;
				height: 0.3rem;
				padding: 0.04rem 0.1rem;
				border-radius: 0.02rem;
				font-size: 0.14rem;
				background-color: var(--primary-color);
				border: 1px solid var(--primary-border-bg-color);
				color: var(--font-color);
				
				&::placeholder {
					color: var(--font-color-lightest);
				}
				
				.dark-theme & {
					background-color: var(--deeply-border-bg-color);
					border: 1px solid var(--item-border-color);
				}
			}
			
			.login_tools {
				width: 100%;
				display: flex;
				flex-direction: row;
				color: var(--primary-color);
				font-size: 0.14rem;
				
				.remenberTool {
					flex: 1;
					text-align: center;
					cursor: pointer;
					span {
						color: var(--primary-color);
						font-size: 0.14rem;
					}
				}
				
				.forgetpasTool {
					flex: 1;
					text-align: center;
					cursor: pointer;
				}
			}
			
			.login_button {
				line-height: 0.3rem;
				background: #17b98d;
				box-shadow: 0 0.04rem 0.08rem 0 var(--btn-shadow-color);
				border-radius: 0.04rem;
				width: 1.5rem;
				height: 0.3rem;
				display: flex;
				justify-content: center;
				align-items: center;
				letter-spacing: 0.15rem;
				text-indent: 0.15rem;
				transition: all 0.3s ease-in-out;
				
				&:hover {
					background: var(--primary-antd-color);
				}
				
				span {
					color: var(--primary-color);
					font-size: 0.16rem;
				}
			}
		}
		
		.link {
			text-align: center;
			cursor: pointer;
			margin-bottom: 0.1rem;
			
			a {
				color: var(--a-link-color);
				font-size: 0.14rem;
			}
			
			a:hover {
				border-bottom: 0.01rem solid var(--a-link-color);
			}
		}
	}
}